{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - NutriTrack</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
     </head>
</head>
<body>
    <h1>NutriTrack</h1>
    <div class="center-container">
        <a href="{{ url_for('add_meal') }}">➕ Add New Meal</a>
        <a href="{{ url_for('meal_history') }}">📜 View Full Meal History</a>
        <a href="{{ url_for('logout') }}">🚪 Log Out</a>
     </div>

    <h3>Welcome, {{ current_user.username }}!</h1>

    <br>

    <h3>Your Recent Meals</h2>

    {% if meals %}
        <ul>
            {% for meal in meals %}
                <li>
                    <strong>{{ meal.meal_type|capitalize }}</strong> on {{ meal.date }}<br>
                    Foods: {{ meal.food_input }}<br>
                    <a href="{{ url_for('meal_summary', meal_id=meal._id) }}">View Nutrition Summary</a>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No meals logged yet.</p>
    {% endif %}
    {% endblock %}


</body>
</html>
